@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Prompt:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #efefef;
}

.header-board {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  font-family: 'Prompt', sans-serif;
}

.board-size {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.board-text-winner{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.header-board-content {
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 8px #888;
  text-align: center;
  padding: 10px;
  margin-right: 10px;
}